* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-size: 12px;
}

window#waybar {
    background: #0f0f0f;
    padding: 0;
    margin: 0;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    /*background-color: #303536;*/
    /*margin: 6px 0px 6px 6px;*/
    /*border: 2px solid #434a4c;*/
}

#workspaces button {
    all: initial;
    min-width: 0;
    /*box-shadow: inset 0 -3px transparent;*/
    padding: 2px 4px;
    color: #383432;
}

#workspaces button.focused {
    color: #4682B4;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    /*background-color: #303536;*/
    /*border: 2px solid #434a4c;*/
    color: #FFFFFF;
}

#tray {
    background-color: #000000;
    /* border: 2px solid #c7ab7a; */
}

#battery {
    background-color: #a9b665;
    /* border: 2px solid #c7ab7a; */
    color: #6c782e;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #ddc7a1;
    /* border: 2px solid #c7ab7a; */
    color: #1d2021;
}

#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    /* border: 2px solid #c7ab7a; */
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    /* border: 2px solid #c7ab7a; */
    color: #c14a4a;
}
